<h1>Tweets</h1>
<p>
	<h2>Tagged data set</h2>
	<div class="btn-group"><a href="/tweets/tagged.csv" class="btn btn-large btn-primary"><i class="icon-download icon-white"></i> Download 2 Class</a> <a href="/tweets/tagged.csv?classes=3" class="btn btn-large btn-primary"><i class="icon-download icon-white"></i> Download 3 class</a></div>
</p>
<p>
	<h2>Untagged data set</h2>
	<div class="btn-group"><a href="/tweets/untagged.csv" class="btn btn-large btn-primary"><i class="icon-download icon-white"></i> Download Untagged Tweets</a></div>
</p>